<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>
  
  <main>
    <h1><%= title %></h1>
    <section>
      <div> Airline </div> 
      <div> <%= flight.airline %>
      </div>
      <div>Airport </div>
      <div><%= flight.airport %></div>
      <div> Flight Number </div>
      <div><%= flight.flightNo %></div>
      <div> Departs </div>
      <div><%= flight.departs %></div>
      <div><%= flight.tickets %>hello</div>
    
    </section>
    <div id="form">
      <form action="/flights" method="POST">
        <label>Choose your seat:
          <input list="seats" name="seat">
        </label>
        <datalist id="seats">
          <option value="1A">
          <option value="2A">
          <option value="3A">
          <option value="4A">
          <option value="5A">
          <option value="1B">
          <option value="2B">
          <option value="3B">
          <option value="4B">
          <option value="5B">
          <option value="1C">
          <option value="2C">
          <option value="3C">
          <option value="4C">
          <option value="5C">

        </datalist>
        <button type="submit">Add Seat</button>
      </form>
    </div>

  </main>
  <p></p>



  <%- include('../partials/footer') %>
