<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>
  
  <main>
    <h1><%= title %></h1>
    <section>
      <br>
      <div> <h3> Airline </h3></div> 
      <div> <%= flight.airline %> 
      </div>
      <br>
      <div><h3>Airport</h3> </div>
      <div><%= flight.airport %></div>
      <br>
      <div><h3> Flight Number</h3> </div>
      <div><%= flight.flightNo %></div>
      <br>
      <div><h3>Departs </h3></div>
      <div><%= flight.departs %></div>
      <br>
      <form class="form" id="add-seat" action="/flights/<%= flight.id %>/tickets" method="POST">
        <h3>Add a Ticket </h3>
        <input name="seat" required pattern="[A-F][1-9]\d?" placeholder="A1-F99">
        <input name="price" type="number" min="0" placeholder="$1-999">
        <br><br>
        <button type="submit" class="submitBtn">Add Ticket</button>
      </form>
    </section>
    <section>
      <% flight.tickets.forEach(ticket => { %>
        <p> <%= ticket.seat %> </p>
        <p> $ <%= ticket.price %> </p>
      <% }) %>
    </section>
    <section>
      <div><h3>Meal Selection</h3></div>
      <ul>
        <% flight.meal.forEach(meal => { %>
          <li><%= meal.name %></li>
        <% }) %>
      </ul>
    </section>
    <form class="form" id="add-meal" action="/flights/<%= flight._id %>/meals" method="POST">
      <select id="form" name="mealId">
        <% meal.forEach(meal => { %>
          <option value="<%= meal._id %>"><%= meal.name %></option>
        <% }) %>
      </select>
      <button type="submit" class="submitBtn" >Add Your Choice</button>
    </form>
  </main>
  <p></p>

  <%- include('../partials/footer') %>
